<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz kontaktowy</title>
</head>

<body>

<form action="/form" method="post" enctype="multipart/form-data">
    <div class="contact-form" align="center">
        <p>
            <input id="name" type="text" name="your-name" placeholder="Name">
        </p>
        <p>
            <input id="contact-email" type="email" name="your-email" placeholder="Email">
        </p>

        <p>
            <textarea id="message" name="your-message" placeholder="Message"></textarea>
        </p>
        <p class="contact-submit-holder">
            <button type="submit" value="SEND">Wyślij</button>
    </div>
</form>
</body>
</html>