<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Firma KSB. Krzysztof Szczecina</title>

    </head>
</head>
<body>

<div style="background-color: darksalmon;font-family:verdana;font-size:100%;text-align:center;" th:fragment="header">
<h2>Firma KSB. Krzysztof Szczecina.</br>
    Solidnie, dokładnie i zawsze na czas!</h2>

<a href="/">strona główna</a>
<a href="/kontakt">kontakt</a>
<a href="/projekty">projekty</a>

</div>

<div style="background-color: coral;font-family:verdana;font-size:100%;text-align:center;" th:fragment="footer" >
    <h4>Jeżeli szukają Państwo firmy, która zrealizuje prace dokładnie według projektu, a przy okazji doradzi
        w kwestiach technicznych to zachęcamy do <a href="/kontakt">skontaktowania</a> się właśnie z nami!</h4>

</div>
</body>
</html>