
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}">
<head>
    <title>Content page</title>
</head>
<body>
<div th:replace="fragments :: header"></div>

<section layout:fragment="content">
        <h2>Przedmiotem działalności firmy są kompleksowe remonty budynków, pomieszczeń, wszelkie prace adaptacyjne oraz
        te, związane z wykończeniem wnętrz.<br>
        Cechuje nas solidność, terminowość i indywidualne podejście do każdego klienta.<br>
        Każde zlecenie jest dla nas nowym wyzwaniem, a naszym celem jest satysfakcja klienta</h2>

    <h3 style="background-color:navajowhite;">Firma KSB. Krzysztof Szczecina
        oferuje następujący zakres usług:
        <ul>
            <li>prace fundamentowe</li>
            <li>murowanie, tynkowanie</li>
            <li>remonty i wykończenia wnętrz</li>
            <li>elewacje, docieplenia budynków</li>
            <li>sufity podwieszane</li>
            <li>zabudowy z płyt gipsowo-kartonowych</li>
            <li>szpachlowanie</li>
            <li>układanie glazury i terakoty</li>
            <li>montaż drzwi i okien</li>
            <li>wyburzenia</li>
            <li>oraz inne prace budowlane</li>
        </ul>
    </h3>

    <div th:replace="fragments :: footer"></div>

</section>
</body>
</html>


