<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}">
<head>
    <title>Kontakt</title>
</head>

<body>

<section layout:fragment="content">

    <h2 align="center">Kontakt</h2>

    <div class="contact-form" align="center">
    <form action="/sendHtmlEmail" method="post" enctype="multipart/form-data">
        <p>
            <input id="name" type="text" name="name" placeholder="Name">
        </p>
        <p>
            <input id="contact-email" type="email" name="email" placeholder="Email">
        </p>

        <p>
            <textarea id="message" name="message" placeholder="Message"></textarea>
        </p>
        <p class="contact-submit-holder">
            <input type="submit" value="SEND">
        </p>
    </form>
    </div>

</section>
</body>
</html>